.scroll-down {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
}

.scroll-down span {
  display: block;
  width: 12px;
  height: 12px;
  border-bottom: 2px solid var(--color-primary-dark);
  border-right: 2px solid var(--color-primary-dark);
  transform: rotate(45deg);
  animation: bounce 1.5s infinite;
}

.scroll-down span:nth-child(1) {
  animation-delay: 0s;
}
.scroll-down span:nth-child(2) {
  animation-delay: 0.3s;
}
.scroll-down span:nth-child(3) {
  animation-delay: 0.6s;
}
/*Adel Was Here*/
@keyframes bounce {
  0% {
    transform: rotate(45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: rotate(45deg) translate(0, 8px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(0, 0);
    opacity: 0;
  }
}
