.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  max-width: 900px;
  min-height: 100vh;
  margin: 2rem auto;
  padding: 0 1rem;
  font-family: "Poppins", sans-serif;
}

.profile-title {
  text-align: center;
  font-size: 2rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.profile-message {
  text-align: center;
  margin-bottom: 1rem;
  color: green;
  font-weight: 500;
}

.profile-card {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-form {
  flex: 1 1 300px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
}

.profile-form h3 {
  color: var(--color-primary);
  margin-bottom: 1rem;
  text-align: center;
}

.profile-form label {
  margin-top: 0.8rem;
  font-weight: 500;
  color: #333;
}

.profile-form input {
  margin-top: 0.3rem;
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 0.8rem;
  font-size: 0.95rem;
}

.btn-primary {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  background: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: #222;
}

@media (max-width: 768px) {
  .profile-card {
    flex-direction: column;
  }
}
/*Adel Was Here*/