/*
body {
    background-color: #ecf0f1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

    
    body.loaded {
        background-color: #ecf0f1;
        opacity: 1;
    }
*/

body.loaded {
        background-color: #ecf0f1;
        opacity: 1;
    }