@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

body::-webkit-scrollbar {
  width: 10px; 
}


body::-webkit-scrollbar-track {
  background-color: transparent; 
}


body::-webkit-scrollbar-thumb {
  background: var(--objects); 
  border-radius: 5px; 
}


body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
:root {
  --primary: #3ab272;
  --primary-dark: #2b7a4b;
  --secondary: #0d1117;
  --accent: #f5f5f5;
  --text-light: #f9f9f9;
  --text-muted: #b0b0b0;
  --objects : #3cb173;
  --glass: rgba(255, 255, 255, 0.08);
  --border-glass: rgba(255, 255, 255, 0.18);
  --transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  --radius: 20px;
  --shadow-lg: 0 10px 40px rgba(0, 0, 0, 0.25);
  --faderhero : linear-gradient(180deg ,#4aa97a, #f5f6fa);
}